<table style="border: 1px solid black;text-align:center;border-collapse: collapse;padding:10px;">
	<tr>
		<td style="border: 1px solid black;">{TOP_LEFT_COLUMN}</td>
		<td style="border: 1px solid black;">{TOP_CENTER_COLUMN}</td>
		<td style="border: 1px solid black;">{TOP_RIGHT_COLUMN}</td>
	</tr>
</table>
<table style="border: 1px solid black;text-align:center;border-collapse: collapse;padding:5px;">
	<tr>
		<td>{LOWER_LEFT_COLUMN}</td>
		<td>{LOWER_CENTER_COLUMN}</td>
		<td>{LOWER_RIGHT_COLUMN}</td>
	</tr>
</table>