<!-- BEGIN checkbox -->
<div class="col-xs-12 text_center" style="padding:2px">
	<!-- BEGIN multiple_single_checked --><div class="alert alert-danger" role="alert">{ERROR_SINGLE_CHOICE_MULTI_MARK}</div><!-- END multiple_single_checked -->
	<img  style="max-width:100%;" src="{IMAGE}" style="padding:2px"/>
	<!-- BEGIN ilScanAssessment_assSingleChoice -->
	<div class="answer_block"><input class="answer_element" type="checkbox" name="{ANSWER_ID}" value="{ANSWER_ID}" <!-- BEGIN checked_single -->checked="checked"<!-- END checked_single --> />{VALUE}</div>
	<!-- END ilScanAssessment_assSingleChoice -->
	<!-- BEGIN ilScanAssessment_assMultipleChoice -->
	<div class="answer_block"><input class="answer_element" type="checkbox" name="{ANSWER_ID}" value="{ANSWER_ID}" <!-- BEGIN checked_multiple -->checked="checked"<!-- END checked_multiple --> />{VALUE}</div>
	<!-- END ilScanAssessment_assMultipleChoice -->
	<!-- BEGIN ilScanAssessment_assKprimChoice -->
	<div class="answer_block"><input class="answer_element" type="checkbox" name="{ANSWER_ID}" value="{ANSWER_ID}" <!-- BEGIN checked_1 -->checked="checked"<!-- END checked_1 --> />
	<input class="answer_element_kprim" type="checkbox" name="{ANSWER_ID_2}" value="{ANSWER_ID_2}" <!-- BEGIN checked_2 -->checked="checked"<!-- END checked_2 --> /><span class="kprim_answer">{VALUE}</span></div>
	<!-- END ilScanAssessment_assKprimChoice -->
</div>
<!-- END checkbox -->
<!-- BEGIN not_found -->
<div class="col-xs-12" style="padding:2px">{NOT_FOUND}</div>
<!-- END not_found -->

