<!-- BEGIN checkbox -->
<div class="col-xs-12 text_center" style="padding:2px"><img  style="max-width:100%;" src="{IMAGE}" style="padding:2px"/>
	<!-- BEGIN ilScanAssessment_assSingleChoice -->
	<input class="answer_element" type="checkbox" name="{ANSWER_ID}" value="{ANSWER_ID}" <!-- BEGIN checked -->checked="checked"<!-- END checked --> />{VALUE}<br>
	<!-- END ilScanAssessment_assSingleChoice -->
	<!-- BEGIN ilScanAssessment_assMultipleChoice -->
	<input class="answer_element" type="checkbox" name="{ANSWER_ID}" value="{ANSWER_ID}" <!-- BEGIN checked -->checked="checked"<!-- END checked --> />{VALUE}<br>
	<!-- END ilScanAssessment_assMultipleChoice -->
	<!-- BEGIN ilScanAssessment_assKprimChoice -->
	<input class="answer_element" type="checkbox" name="{ANSWER_ID}" value="{ANSWER_ID}" <!-- BEGIN checked_1 -->checked="checked"<!-- END checked_1 --> />
	<input class="answer_element" type="checkbox" name="{ANSWER_ID_2}" value="{ANSWER_ID_2}" <!-- BEGIN checked_2 -->checked="checked"<!-- END checked_2 --> />{VALUE}</br>
	<!-- END ilScanAssessment_assKprimChoice -->
</div>
<!-- END checkbox -->
<!-- BEGIN not_found -->
<div class="col-xs-12" style="padding:2px">{NOT_FOUND}</div>
<!-- END not_found -->

